<div class="message-board">
<h1>Message Board</h1>

<button><a href="/posts/new">Post Something!</a></button>

<ul>
  <% if @posts %>
    <% @posts.each do |post| %>
      <li>
          <a href="/posts/<%=post.id%>"> <%= post.title%> </a>
      </li>
    <% end %>
  <% end %>
</ul>
</div>
